@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  color: #fff;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 5ss00;
  font-size: 20px;
}

.logo img {
  height: 40px; /* Adjust as needed */
}

.menu-icon {
  cursor: pointer;
  display: none; /* Hide by default */
}

.nav-menu {
  list-style: none;
  display: flex;
  margin-right: 4vw;
  padding: 0;
}

.nav-menu li {
  margin-right: 10vw;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  color: #1e1e1e;
  text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block; /* Show when screen size is less than or equal to 768px */
  }

  .nav-menu {
    display: none; /* Hide by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px 0;
  }

  .nav-menu.active {
    display: flex; /* Show when menu is active */
  }

  .nav-menu li {
    margin: 10px 0;
  }
}
