@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Project-Container {
  width: 100vw;
  height: 100vh;
}
.Project-HeaderText {
  padding-left: 30px;
  margin-top: 2.5rem;
  margin-bottom: 2.6rem;
  font-size: 4rem;
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.Project-BodyContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  justify-content: center;
}

.ProjectBox {
  border-radius: 7em;
  border: 1px solid #4b4b4b;
  width: 22vw;
  height: 65vh;
  overflow: hidden;
  padding-top: 6rem;
  text-align: center;
}

.ProjectBoxHeader {
  font-size: 2em;
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 5rem;
}

.ProjectBoxDescription {
  padding: 1rem;
  font-size: 1em;
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: justify;
}
